@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&family=Ubuntu:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, Ubuntu;
  color: $mainBlack;
  background: $mainBackground;
  line-height: 1.4;
  font-size: 1rem;
  font-weight: 300;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-one;
  margin-bottom: 1.25rem;
  letter-spacing: $mainSpacing;
}
p {
  margin-bottom: 1.25rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: $mainBlack;
}
img {
  width: 100%;
  display: block;
}

.section {
  padding: 5rem 0;
}
.section-title {
  font-size: 2rem;
  text-transform: capitalize;
  letter-spacing: $mainSpacing;
  text-align: center;
  margin-bottom: 3.5rem;
  margin-top: 1rem;
}
.cocktails-center {
  width: $smallWidth;
  margin: 0 auto;
  max-width: $fullWidth;
  display: grid;
  row-gap: 2rem;
  column-gap: 2rem;
  /* align-items: start; */
}

@media screen and (min-width: 576px) {
  .cocktails-center {
    grid-template-columns: repeat(auto-fill, minmax(338.8px, 1fr));
  }
}
